body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

#app {
    width: 100%;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personagem {
    background-color: white;
    border: 5px solid #070707;
    margin-bottom: 20px;
    padding: 20px; /* Adicionado padding para espaçamento interno */
    border-radius: 20px;
    width: 100%; /* Ajusta a largura para ocupar o espaço disponível */
    max-width: 300px; /* Define uma largura máxima */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

.acoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 10px; /* Adicionado para espaço entre a barra de vida e os botões */
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a1708;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #1a355e;
}

button:active {
    transform: translateY(2px);
}

.barra-vida {
    height: 30px;
    background-color: #1e8321;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sprite {
    height: 100px;
    margin-bottom: 20px;
    background-color: #ddd;
    border-radius: 5px;
}
